<!DOCTYPE html>
<html lang="en" th:replace="~{layouts/master :: parent(~{::#content}, ~{::title}) }">

<head>
    <title>Users</title>
</head>

<body
    id="content"
    style="background: #e2e2e2e2;"
>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-12">
                <div class="mb-5">
                    <form th:action="@{/admin/users/mass-destroy}" method="post" onsubmit="return confirm('Are you sure want to delete all records')">
                        <button type="submit" class="btn btn-danger float-end ms-2">Delete All</button>
                    </form>
                    <a th:href="@{/admin/users/create}" class="btn btn-primary float-end">Create</a>
                </div>

                <div
                    th:if="${message}"
                    class="alert alert-success"
                    role="alert"
                    th:text="${message}"
                />

                <div class="bg-white p-4">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr th:each="user: ${users}">
                                    <td th:text="${user.id}"></td>
                                    <td th:text="${user.username}"></td>
                                    <td th:text="${user.email}"></td>
                                    <td>
                                        <div
                                            class="btn-group"
                                            role="group"
                                            aria-label="User Actions"
                                        >
                                            <a
                                                th:href="@{/admin/users/edit/{id}(id=${user.id})}"
                                                type="button"
                                                class="btn btn-sm btn-primary"
                                            >
                                                Edit
                                            </a>

                                            <button
                                                type="submit"
                                                onclick="if (confirm('Are you sure you want to delete?')) { document.getElementById('delete-form').submit(); }"
                                                class="btn btn-sm btn-danger"
                                            >
                                                Delete
                                            </button>

                                            <form
                                                id="delete-form"
                                                th:action="@{/admin/users/destroy/{id}(id=${user.id})}"
                                                method="POST"
                                            ></form>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>